body{
background: linear-gradient(120deg,#4facfe,#00f2fe);
font-family: Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
width:420px;
padding:20px;
border-radius:20px;
box-shadow:0px 10px 40px rgba(0,0,0,0.3);
}

h1{
text-align:center;
color:#333;
}

#chatbox{
height:350px;
overflow-y:auto;
border:1px solid #ddd;
padding:10px;
margin-bottom:10px;
border-radius:10px;
}

.user{
text-align:right;
margin:8px;
color:#333;
}

.bot{
text-align:left;
margin:8px;
color:#0077ff;
}

.input-area{
display:flex;
}

input{
flex:1;
padding:10px;
border-radius:10px;
border:1px solid #ccc;
}

button{
margin-left:10px;
background:#0077ff;
color:white;
border:none;
padding:10px 15px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#005fd1;
}